<template>
  <q-page class="flex flex-center">
    <div>
      <h1>Mon compte</h1>
      <q-form @submit="onSubmit">
        <q-input outlined v-model="user.name" label="Nom" lazy-rules :rules="[val => val && val.length > 0 || 'Obligatoire']"/>
        <q-input outlined v-model="user.email" label="Email" lazy-rules :rules="[val => val && val.length > 0 || 'Obligatoire', val => /^[\w-]+(\.[\w-]+)*@([\w-]+\.)+[a-zA-Z]{2,7}$/.test(val) || 'Email non valide']"/>
        <q-btn :ripple="{ center: true }" color="primary" label="Enregistrer" type="submit" />
      </q-form>
    </div>
  </q-page>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue';

interface User {
  name: string;
  email: string;
}

export default defineComponent({
  name: 'AccountPage',
  setup() {
    const user: User = ref({
      name: '',
      email: '',
    });

    function onSubmit() {
      console.log(user.value);
    }

    return {
      user,
      onSubmit,
    }
  },
});
</script>
