<template>
  <q-page padding>
    <div class="text-h2 q-mb-md">Panier</div>

    <div class="row q-col-gutter-md" v-if="cartItems.length > 0">
      <div class="col col-3 q-pa-md" v-for="item in cartItems" :key="item.id">
        <q-card>
          <q-card-section>
            <div class="text-h6">{{ item.name }}</div>
          </q-card-section>

          <q-card-section>
            <div>{{ item.description }}</div>
          </q-card-section>

          <q-card-actions align="right">
            <q-btn
              color="primary"
              label="Retirer du panier"
              @click="removeFromCart(item.id)"
            />
          </q-card-actions>
        </q-card>
      </div>
    </div>

    <div class="row justify-end text-h6 q-mt-md" v-if="cartItems.length > 0">
      Total : {{ total.toFixed(2) }} €
    </div>

    <q-btn
      color="secondary"
      label="Valider le paiement"
      class="q-mt-md"
      v-if="cartItems.length > 0"
      @click="proceedToPayment"
    />

    <div v-else>
      Votre panier est vide.
      <q-btn
        color="secondary"
        label="Retour au menu"
        class="q-mt-md"
        @click="goToMenu"
      />
    </div>
  </q-page>
</template>

<script lang="ts">
import { defineComponent, computed } from "vue";
import { useRouter } from "vue-router";
import store from "../stores/store"; // importez le store ici

export default defineComponent({
  name: "CartPage",
  setup() {
    const total = computed(() => {
      return store.cart.reduce((acc, item) => acc + item.price, 0);
    });

    const router = useRouter();

    const removeFromCart = (id: number) => {
      store.removeFromCart(id); // retirez la pizza du panier
    };

    const proceedToPayment = () => {
      // Redirigez vers la page de paiement ou exécutez la logique de paiement ici
    };

    const goToMenu = () => {
      router.push("/menu");
    };

    return {
      cartItems: store.cart,
      total,
      removeFromCart,
      proceedToPayment,
      goToMenu,
    };
  },
});
</script>
