<template>
  <q-page class="row items-center justify-evenly">
    <div class="text-center">
      <h1 class="text-h1">Bienvenue chez PizzaMinos !</h1>
      <p class="text-subtitle1">La meilleure pizza en ville, livrée directement à votre porte.</p>

      <!-- <img src="pizza-image.jpg" alt="Image de pizza" style="width:100%;max-width:300px"/> -->

      <div class="row justify-center">
        <q-btn color="primary" label="Créer un compte" @click="goToRegister"/>
        <q-btn color="secondary" label="Se connecter" @click="goToLogin"/>
      </div>

      <div class="text-center">
        <h2 class="text-h2">Nos pizzas les plus populaires</h2>
        <div class="row justify-center">
          <!-- Affichez ici les images et les noms de vos pizzas les plus populaires -->
        </div>
        <q-btn color="primary" label="Voir le menu complet" @click="goToMenu"/>
      </div>
    </div>
  </q-page>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import { useRouter } from 'vue-router';

export default defineComponent({
  name: 'IndexPage',
  setup () {
    const router = useRouter();

    const goToRegister = () => {
      router.push('/register');
    };

    const goToLogin = () => {
      router.push('/account');
    };

    const goToMenu = () => {
      router.push('/menu');
    };

    return {
      goToRegister,
      goToLogin,
      goToMenu
    };
  }
});
</script>
