<template>
  <q-page padding>
    <div class="text-h2 q-mb-md">Menu</div>

    <div class="row q-col-gutter-md">
      <div class="col col-3 q-pa-md" v-for="pizza in pizzas" :key="pizza.id">
        <q-card style="width: 300px">
          <q-card-section>
            <div class="text-h6">{{ pizza.name }}</div>
          </q-card-section>

          <q-card-section>
            <q-badge color="green" label="En stock" />
            <div>{{ pizza.description }}</div>
            <div>{{ pizza.price }} €</div>
          </q-card-section>

          <q-card-actions align="right">
            <q-btn
              color="primary"
              label="Ajouter au panier"
              @click="pizza.id && addToCart(pizza.id)"
            />
          </q-card-actions>
        </q-card>
      </div>
    </div>

    <q-btn
      color="secondary"
      label="Voir le panier"
      class="q-mt-md"
      v-if="store.cart.length > 0"
      @click="goToCart"
    />
  </q-page>
</template>

<script lang="ts">
import { ref, onMounted, defineComponent } from "vue";
import { useRouter } from "vue-router";
import { getPizzas } from "../api/services/api-menu";
import { Pizza } from "../api/models";
import store from "../stores/store";

export default defineComponent({
  name: "MenuPage",
  setup() {
    const pizzas = ref<Pizza[]>([]);
    const router = useRouter();

    onMounted(async () => {
      pizzas.value = await getPizzas();
    });

    const addToCart = (id: number) => {
      const pizza = pizzas.value.find((p) => p.id === id);
      if (pizza?.id) {
        store.addToCart(pizza);
      }
    };

    const goToCart = () => {
      router.push("/cart");
    };

    return {
      pizzas,
      addToCart,
      goToCart,
      store,
    };
  },
});
</script>
