<template>
  <div>
    <q-table :rows="orders" :columns="columns" row-key="id">
      <template v-slot:body-cell-action="props">
        <q-td :props="props">
          <q-btn flat color="primary" @click="editOrder(props.row)">Edit</q-btn>
          <q-btn flat color="negative" @click="removeOrder(props.row.id)"
            >Delete</q-btn
          >
        </q-td>
      </template>
    </q-table>

    <q-dialog v-model="openDialog">
      <q-card>
        <q-card-section>
          <div class="text-h6">{{ formTitle }}</div>
        </q-card-section>

        <q-card-section>
          <q-input filled v-model="formOrder.pizzaId" label="Pizza ID" />
          <q-input
            filled
            v-model="formOrder.amount"
            label="Amount"
            type="number"
          />
        </q-card-section>

        <q-card-actions align="right">
          <q-btn flat label="Cancel" color="primary" v-close-popup />
          <q-btn
            flat
            label="Save"
            color="primary"
            v-close-popup
            @click="saveOrder"
          />
        </q-card-actions>
      </q-card>
    </q-dialog>

    <q-btn @click="newOrder">Create New Order</q-btn>
  </div>
</template>

<script>
import { ref } from "vue";
import {
  getAllOrders,
  createOrder,
  updateOrder,
  deleteOrder,
} from "../api/services/api-order";

export default {
  name: "Orders",
  setup() {
    const orders = ref([]);
    const openDialog = ref(false);
    const formOrder = ref({ pizzaId: "", amount: "" });
    const formTitle = ref("");
    const columns = [
      {
        name: "id",
        required: true,
        label: "Order ID",
        align: "left",
        field: "id",
      },
      {
        name: "pizzaId",
        required: true,
        label: "Pizza ID",
        align: "left",
        field: "pizzaId",
      },
      {
        name: "amount",
        required: true,
        label: "Amount",
        align: "left",
        field: "amount",
      },
      {
        name: "action",
        required: true,
        label: "Action",
        align: "left",
        field: "action",
        format: (val, row) => "Edit/Delete",
        sortable: false,
      },
    ];

    const fetchOrders = async () => {
      orders.value = await getAllOrders();
    };

    const saveOrder = async () => {
      if (formOrder.value.id) {
        await updateOrder(formOrder.value.id, formOrder.value);
      } else {
        await createOrder(formOrder.value);
      }
      fetchOrders();
      openDialog.value = false;
    };

    const newOrder = () => {
      formOrder.value = { pizzaId: "", amount: "" };
      formTitle.value = "New Order";
      openDialog.value = true;
    };

    const editOrder = (order) => {
      formOrder.value = { ...order }; // Copiez la commande dans le formulaire
      formTitle.value = `Edit Order ${order.id}`;
      openDialog.value = true;
    };

    const removeOrder = async (id) => {
      await deleteOrder(id);
      fetchOrders();
    };

    fetchOrders();

    return {
      orders,
      openDialog,
      formOrder,
      formTitle,
      columns,
      saveOrder,
      newOrder,
      editOrder,
      removeOrder,
    };
  },
};
</script>
