<template>
  <div class="create-order">
    <h1>Créez votre commande</h1>

    <form @submit.prevent="submitOrder">
      <div class="input-group">
        <label for="pizza">Pizza:</label>
        <select v-model="order.pizzaId" id="pizza" required>
          <option v-for="pizza in pizzas" :value="pizza.id" :key="pizza.id">
            {{ pizza.name }}
          </option>
        </select>
      </div>

      <div
        class="input-group"
        v-for="(topping, index) in order.toppings"
        :key="index"
      >
        <label :for="`topping-${index}`">Garniture:</label>
        <select v-model="topping.toppingId" :id="`topping-${index}`" required>
          <option
            v-for="topping in toppings"
            :value="topping.id"
            :key="topping.id"
          >
            {{ topping.name }}
          </option>
        </select>
        <label :for="`quantity-${index}`">Quantité:</label>
        <input
          v-model.number="topping.quantity"
          type="number"
          :id="`quantity-${index}`"
          min="1"
          required
        />
      </div>

      <button type="button" @click="addTopping">Ajouter une garniture</button>

      <button type="submit">Créer la commande</button>
    </form>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref, onMounted } from "vue";
import { useRouter } from "vue-router";
import {
  createOrder,
  getAllOrders,
  getAllToppings,
} from "../api/services/api-order";

export default defineComponent({
  name: "CreateOrderPage",
  setup() {
    const router = useRouter();
    const pizzas = ref([]);
    const toppings = ref([]);

    const order = ref({
      pizzaId: "",
      toppings: [
        {
          toppingId: "",
          quantity: 1,
        },
      ],
    });

    const fetchPizzas = async () => {
      const response = await getAllOrders();
      pizzas.value = response.data;
    };

    const fetchToppings = async () => {
      const response = await getAllToppings();
      toppings.value = response.data;
    };

    const addTopping = () => {
      order.value.toppings.push({
        toppingId: "",
        quantity: 1,
      });
    };

    const submitOrder = async () => {
      await createOrder(order.value);
      // Redirigez vers la page de paiement
      router.push("/payment");
    };

    onMounted(() => {
      fetchPizzas();
      fetchToppings();
    });

    return { order, addTopping, submitOrder, pizzas, toppings };
  },
});
</script>
