<template>
    <q-page class="flex flex-center">
      <div>
        <h1>Register</h1>
        <!-- Add your register related components here -->
      </div>
    </q-page>
  </template>
  
  <script lang="ts">
  import { defineComponent } from 'vue';
  export default defineComponent({
    name: 'resgiter'
  });
  </script>
  