<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated>
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          icon="menu"
          aria-label="Menu"
          @click="toggleLeftDrawer"
        />

        <q-toolbar-title>
          PizzaMinos
        </q-toolbar-title>

        <div>La meilleure pizza en ville</div>
      </q-toolbar>
    </q-header>

    <q-drawer
      v-model="leftDrawerOpen"
      show-if-above
      bordered
    >
      <q-list>
        <q-item-label
          header
        >
          Navigation
        </q-item-label>

        <q-item clickable v-for="link in linksList" :key="link.title" @click="goTo(link.path)">
          <q-item-section avatar>
            <q-icon :name="link.icon" />
          </q-item-section>
          <q-item-section>
            <q-item-label>{{ link.title }}</q-item-label>
            <q-item-label caption>{{ link.caption }}</q-item-label>
          </q-item-section>
        </q-item>
      </q-list>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue';
import { RouteLocationRaw, useRouter } from 'vue-router';

const linksList = [
{
    title: 'Home',
    caption: 'Bienvenue chez PizzaMinos !',
    icon: 'home',
    path: '/'
  },
  {
    title: 'Menu',
    caption: 'Explorez nos pizzas',
    icon: 'restaurant_menu',
    path: '/menu'
  },
  {
    title: 'Panier',
    caption: 'Vérifiez vos commandes',
    icon: 'shopping_cart',
    path: '/cart'
  },
  {
    title: 'Commandes précédentes',
    caption: 'Vos commandes passées',
    icon: 'history',
    path: '/orders'
  },
  {
    title: 'Mon compte',
    caption: 'Gérez votre compte',
    icon: 'account_circle',
    path: '/account'
  }
];

export default defineComponent({
  name: 'MainLayout',

  setup () {
    const router = useRouter();
    const leftDrawerOpen = ref(false)

    const goTo = (path: RouteLocationRaw) => {
      router.push(path);
      leftDrawerOpen.value = false;
    };

    return {
      linksList,
      leftDrawerOpen,
      toggleLeftDrawer: () => {
        leftDrawerOpen.value = !leftDrawerOpen.value
      },
      goTo
    }
  }
});
</script>
